.container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    label {
        font-size: medium;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
    
    input {
        padding: 1rem;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        border: 0.1rem solid #ccc;
    }
}

.bottomText {
    margin-top: 1rem;
}